html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  position: relative;
  width: 320px;
}

.robot-brain {
  position: absolute;
  bottom: 6rem;
  left: 8.5rem;
  width: 46px;
}

.robot-head-right {
  position: absolute;
  left: 10rem;
  bottom: 4.25rem;
}

.robot-head-left {
  position: absolute;
  left: 2.2rem;
  width: 125px;
  bottom: 4.25rem;
}
